{
    "RootNamespace": "PhoneBack_IIS",
    "Connections": [
        {
            "Key": "PhoneBack",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=PhoneBack_IIS_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.CONSUMER",
                    "Identifier": "Consumer",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PERSON",
                    "Identifier": "Person",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_BUSSDIV",
                    "Identifier": "SetBussdiv",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_BUSSDIVLang",
                    "Identifier": "SetBussdivLang",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_CATGTICKET",
                    "Identifier": "SetCatgticket",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_CITY",
                    "Identifier": "SetCity",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_CONSUMERSTATUS",
                    "Identifier": "SetConsumerstatus",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_COUNTRY",
                    "Identifier": "SetCountry",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_MYCOMPANY",
                    "Identifier": "SetMycompany",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_PRIORITYTICKET",
                    "Identifier": "SetPriorityticket",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SET_TICKETSTATUS",
                    "Identifier": "SetTicketstatus",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SETT_SOFTWARE",
                    "Identifier": "SettSoftware",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TICKET",
                    "Identifier": "Ticket",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Users",
                    "Identifier": "Users",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TICKET_COMMENT",
                    "Identifier": "TicketComment",
                    "Module": "PhoneBack",
                    "ConnectionKey": "PhoneBack",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\PhoneBack_IIS\\PhoneBack_IIS.Web\\PhoneBack_IIS.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}