@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PhoneBack.Ticket.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PhoneBack_IIS.PhoneBack.TicketGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>

